@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till Westcoast Cars</h1>
    <h2>Vi har ett stort antal bilar av hög kvalitet i lager</h2>
</div>
